<main class="no-flex py-5 d-flex align-items-center flex-column">

    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">
        <g id="Group_4" data-name="Group 4" transform="translate(-158 -109.767)">
            <g id="Ellipse_1" data-name="Ellipse 1" transform="translate(158 109.767)" fill="#fff" stroke="#00d19f" stroke-width="5">
            <circle cx="40" cy="40" r="40" stroke="none"/>
            <circle cx="40" cy="40" r="37.5" fill="none"/>
            </g>
            <path id="ic_check_24px" d="M16.648,30.646,6.773,20.77,3.41,24.109,16.648,37.348,45.067,8.929,41.728,5.59Z" transform="translate(174.343 128.419)" fill="#00d19f" stroke="#00d19f" stroke-linejoin="round" stroke-width="2"/>
        </g>
    </svg>

    <h1 class="remark text-center col-lg-4 col-10">Students has paid in full</h1>
    <div class="col-lg-2 col-8 mx-auto mb-3">
        <a class="scan-btn bg-green rounded" href="/qr-scanner">
            <svg style="transform: scale(.8);" xmlns="http://www.w3.org/2000/svg" width="31.778" height="26" viewBox="0 0 31.778 26">
                <path id="ic_flip_24px" d="M20.333,29.889h2.889V27H20.333Zm5.778-17.333H29V9.667H26.111ZM3,6.778V27a2.9,2.9,0,0,0,2.889,2.889h5.778V27H5.889V6.778h5.778V3.889H5.889A2.9,2.9,0,0,0,3,6.778ZM26.111,3.889V6.778H29A2.9,2.9,0,0,0,26.111,3.889ZM14.556,32.778h2.889V1H14.556Zm11.556-8.667H29V21.222H26.111ZM20.333,6.778h2.889V3.889H20.333Zm5.778,11.556H29V15.444H26.111Zm0,11.556A2.9,2.9,0,0,0,29,27H26.111Z" transform="translate(32.778 -3) rotate(90)" fill="#fff"/>
            </svg>                          
            <span class="ps-3">Scan Again</span>
        </a>
    </div>

    <div class="col-lg-3 col-11 d-block card p-3 border-0 student-info">
        <p class="col-green my-0 pb-1">
            <small>
                <strong>Confirmation Code: </strong>
            </small>
        </p>

        <h2 class="my-0 text-uppercase">
            {{confirmID}}
        </h2>
    </div>
    <div class="col-lg-3 col-11 d-block card p-3 border-0 student-info">
        <p class="col-green my-0 pb-1">
            <small>
                <strong>Fullname: </strong>
            </small>
        </p>

        <h2 class="my-0">
            {{fullname}}
        </h2>
    </div>
    <div class="col-lg-3 col-11 d-block card p-3 border-0 student-info">
        <p class="col-green my-0 pb-1">
            <small>
                <strong>Reg No/Matric No: </strong>
            </small>
        </p>

        <h2 class="my-0">
            {{regNo}}
        </h2>
    </div>
    <div class="col-lg-3 col-11 d-block card p-3 border-0 student-info">
        <p class="col-green my-0 pb-1">
            <small>
                <strong>Level: </strong>
            </small>
        </p>

        <h2 class="my-0">
            {{level}}
        </h2>
    </div>
    <div class="col-lg-3 col-11 d-block card p-3 border-0 student-info">
        <p class="col-green my-0 pb-1">
            <small>
                <strong>Department: </strong>
            </small>
        </p>

        <h2 class="my-0">
            {{dept}}
        </h2>
    </div>
    <div class="col-lg-3 col-11 d-block card p-3 border-0 student-info">
        <p class="col-green my-0 pb-1">
            <small>
                <strong>RRR: </strong>
            </small>
        </p>

        <h2 class="my-0">
            {{rrr}}
        </h2>
    </div>
    <div class="col-lg-3 col-11 d-block card p-3 border-0 student-info">
        <p class="col-green my-0 pb-1">
            <small>
                <strong>Amount Paid: </strong>
            </small>
        </p>

        <h2 class="my-0">
            &#8358; {{fees}}
        </h2>
    </div>

</main>